<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>
        <%- include('../views/includes/about')%>



            <%- include('../views/includes/footer')%>
                <%- include('../views/includes/end')%>