<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>

        <section id="container" class="committeeGrids">

        </section>


        <script src="/js/advisoryCommittee.js"></script>
        <%- include('../views/includes/footer')%>
            <%- include('../views/includes/end')%>