<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>

        <section id="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil asperiores laudantium excepturi
                aperiam, et minima impedit tenetur expedita blanditiis quibusdam facilis alias. Tempora iste obcaecati
                ad perspiciatis fugit eius eaque, quod porro dolor, maiores, suscipit sunt alias atque voluptate!
                Expedita debitis quibusdam incidunt ipsam aliquam, rerum doloremque aperiam suscipit natus quia nostrum
                doloribus architecto. Ratione, quo soluta nam voluptas reiciendis totam aut illum amet qui et
                consequuntur itaque earum similique ex, eos quae facilis. Debitis qui et minus blanditiis architecto,
                repellendus eligendi ex quaerat obcaecati pariatur corrupti maiores accusantium, rem iste delectus
                distinctio, porro culpa nesciunt eius. Quis, eius?</p>
        </section>


        <%- include('../views/includes/footer')%>
            <%- include('../views/includes/end')%>