<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <!-- Showcase -->
        <section id="showcase1">
            <article>
                <div class="bgText">
                    <br>
                    <div style="display: flex; gap: 20px; align-items: center; margin-bottom: 10px;">
                        <div class="line">
                        </div>
                        <div>
                            <p class="adjustFontSize">International Conference On</p>
                            <h2>Computational Intelligence, Data Analytics </h2>
                            <h2>and Information Sciences</h2>
                        </div>
                    </div>
                    <p style="font-size: 16px; margin-bottom: 6px; line-height: 4px;">Organised By</p>
                    <div class="organisedBy">
                        <p>Guru Tegh Bahadur Institute of Technology, Affiliated to GGSIPU, New
                            Delhi, India</p>
                    </div>
                    <div class="organisedBy">
                        <p><i class="fa-solid fa-calendar-days"></i> 7th January
                            &nbsp;&nbsp;/&nbsp;&nbsp; <i class="fa-solid fa-clock"></i> 10 Am Onwards</p>
                    </div>
                    <div style="margin: 8px 0;">
                        <a class="registerBtn" href="/">Register Online</a>
                    </div>
                </div>
            </article>
        </section>
        <!-- Notices -->
        <section class="noticesSection flex-align-center">
            <article>
                <h2>Notices</h2>
                <section class="noticesList">
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                </section>

            </article>

            <article>
                <h2>Important Dates</h2>
                <section class="noticesList">
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                </section>

            </article>

            <article>
                <h2>Downloads</h2>
                <section class="noticesList">
                    <div>
                        <p>ICICC - 2023 will be organised by Shaheed Sukhdev College of Business Studies, Delhi
                            university,
                            India on 17-18 February
                            2023.</p>
                        <p style="margin: 5px 0;"><i class="fa-solid fa-calendar-days"></i> &nbsp; 27 Dec 2023</p>
                    </div>
                </section>

            </article>

        </section>
        <%- include('../views/includes/about')%>


            <%- include('../views/includes/footer')%>
                <%- include('../views/includes/end')%>