<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>

        <section id="speakers">
            <article class="flex-align-center">
                <div class="speaker-img">
                    <img src="https://avatars.githubusercontent.com/u/96378977?v=4" alt="">
                    <p><a href=""><i class="fa-brands fa-linkedin"></i></a></p>
                </div>
                <div class="speaker-content">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor Lorem, ipsum dolor.</p>
                </div>
            </article>

        </section>

        <%- include('../views/includes/footer')%>
            <%- include('../views/includes/end')%>