<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>
        <section id="container">
            <section id="speakers">
                <article>
                    <div class="speaker-img">
                        <img src="https://avatars.githubusercontent.com/u/96378977?v=4" alt="">
                    </div>
                    <div class="speaker-content">
                        <h3>Japneet Singh Baluja </h3>
                        <p>Student at GTBIT</p>
                        <p style="color: rgb(141, 141, 141);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Labore, nihil nemo. Maxime molestias voluptatibus atque accusamus maiores odit odio neque
                            quod mollitia reprehenderit? Porro, repudiandae voluptatum qui reiciendis iusto possimus!
                        </p>
                        <p><a href=""><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                </article>
                <article>
                    <div class="speaker-img">
                        <img src="https://images.pexels.com/photos/7647946/pexels-photo-7647946.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="">
                    </div>
                    <div class="speaker-content">
                        <h3>Monica Geller </h3>
                        <p>Product Manager, Apple</p>
                        <p style="color: rgb(141, 141, 141);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Labore, nihil nemo. Maxime molestias voluptatibus atque accusamus maiores odit odio neque
                            quod mollitia reprehenderit? Porro, repudiandae voluptatum qui reiciendis iusto possimus!
                        </p>
                        <p><a href=""><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                </article>
                <article>
                    <div class="speaker-img">
                        <img src="https://images.pexels.com/photos/3823495/pexels-photo-3823495.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="">
                    </div>
                    <div class="speaker-content">
                        <h3>Sheldon Cooper </h3>
                        <p>Product Manager, Apple</p>
                        <p style="color: rgb(141, 141, 141);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Labore, nihil nemo. Maxime molestias voluptatibus atque accusamus maiores odit odio neque
                            quod mollitia reprehenderit? Porro, repudiandae voluptatum qui reiciendis iusto possimus!
                        </p>
                        <p><a href=""><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                </article>


            </section>
        </section>


        <%- include('../views/includes/footer')%>
            <%- include('../views/includes/end')%>