<%- include('../views/includes/head')%>

    <%- include('../views/includes/navbar')%>
        <section id="showcase-template">
            <h2>
                <%=pageTitle%>
            </h2>
        </section>

        <section id="container" class="gtbitContacts" style="text-align: justify;">
            <h1>Invitation Letter For Sponsorship</h1>
            <p><b>Lorem, ipsum dolor. Lorem ipsum dolor sit.</b></p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quisquam esse recusandae illo amet vitae
                placeat nulla, ad, in minima maiores porro nisi dolorum incidunt id harum corporis adipisci reiciendis
                unde perferendis? Veritatis atque est quaerat maiores, aspernatur ipsa exercitationem sunt obcaecati!
                Odit, mollitia, natus provident esse soluta molestiae pariatur architecto officiis, veniam at libero
                odio facilis? Magni iusto quos repudiandae quo minima facere aut quae facilis labore, possimus ab
                assumenda, nesciunt a saepe voluptatem itaque odit earum vitae illo optio dignissimos molestias.
                Accusantium placeat vitae, eligendi eius qui exercitationem minima nam tempora at porro ad dignissimos
                deleniti rem nihil.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quisquam esse recusandae illo amet vitae
                placeat nulla, ad, in minima maiores porro nisi dolorum incidunt id harum corporis adipisci reiciendis
                unde perferendis? Veritatis atque est quaerat maiores, aspernatur ipsa exercitationem sunt obcaecati!
                Odit, mollitia, natus provident esse soluta molestiae pariatur architecto officiis, veniam at libero
                odio facilis? Magni iusto quos repudiandae quo minima facere aut quae facilis labore, possimus ab
                assumenda, nesciunt a saepe voluptatem itaque odit earum vitae illo optio dignissimos molestias.
                Accusantium placeat vitae, eligendi eius qui exercitationem minima nam tempora at porro ad dignissimos
                deleniti rem nihil.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quisquam esse recusandae illo amet vitae
                placeat nulla, ad, in minima maiores porro nisi dolorum incidunt id harum corporis adipisci reiciendis
                unde perferendis? Veritatis atque est quaerat maiores, aspernatur ipsa exercitationem sunt obcaecati!
                Odit, mollitia, natus provident esse soluta molestiae pariatur architecto officiis, veniam at libero
                odio facilis? Magni iusto quos repudiandae quo minima facere aut quae facilis labore, possimus ab
                assumenda, nesciunt a saepe voluptatem itaque odit earum vitae illo optio dignissimos molestias.
                Accusantium placeat vitae, eligendi eius qui exercitationem minima nam tempora at porro ad dignissimos
                deleniti rem nihil.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quisquam esse recusandae illo amet vitae
                placeat nulla, ad, in minima maiores porro nisi dolorum incidunt id harum corporis adipisci reiciendis
                unde perferendis? Veritatis atque est quaerat maiores, aspernatur ipsa exercitationem sunt obcaecati!
                Odit, mollitia, natus provident esse soluta molestiae pariatur architecto officiis, veniam at libero
                odio facilis? Magni iusto quos repudiandae quo minima facere aut quae facilis labore, possimus ab
                assumenda, nesciunt a saepe voluptatem itaque odit earum vitae illo optio dignissimos molestias.
                Accusantium placeat vitae, eligendi eius qui exercitationem minima nam tempora at porro ad dignissimos
                deleniti rem nihil.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quisquam esse recusandae illo amet vitae
                placeat nulla, ad, in minima maiores porro nisi dolorum incidunt id harum corporis adipisci reiciendis
                unde perferendis? Veritatis atque est quaerat maiores, aspernatur ipsa exercitationem sunt obcaecati!
                Odit, mollitia, natus provident esse soluta molestiae pariatur architecto officiis, veniam at libero
                odio facilis? Magni iusto quos repudiandae quo minima facere aut quae facilis labore, possimus ab
                assumenda, nesciunt a saepe voluptatem itaque odit earum vitae illo optio dignissimos molestias.
                Accusantium placeat vitae, eligendi eius qui exercitationem minima nam tempora at porro ad dignissimos
                deleniti rem nihil.</p>
            <p><b>Lorem, ipsum dolo.</b></p>



        </section>



        <%- include('../views/includes/footer')%>
            <%- include('../views/includes/end')%>